* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
}
.App {
    width: 800px;
}

.post_btns {
  display: flex;
}

.post {
    padding: 15px;
    margin-top: 15px;
    border: 2px solid teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-enter {
    transform: translateX(-350px);
  }
  .post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
  }

  .alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  
  .pagination {
    margin: 30px auto;
    text-align: center;
  }
  .pagination .page {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid teal;
    cursor: pointer;
  }
  .pagination .page_curent {
    font-weight: 600;
  }

  .navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    margin: 0 10px;
    text-decoration: none;
  }